## 1. 해당 전체 기간에서, KST 기준으로 active user 수가 제일 큰 날짜를 구하세요

In [1]:
import pandas as pd
from datetime import datetime, timedelta

In [2]:
commerce_df = pd.read_csv('C:/Users/songtg/Desktop/DE/2019-Nov.csv')
commerce_df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,1003461,2053013555631882655,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:00 UTC,view,5000088,2053013566100866035,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
2,2019-11-01 00:00:01 UTC,view,17302664,2053013553853497655,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387
3,2019-11-01 00:00:01 UTC,view,3601530,2053013563810775923,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4,2019-11-01 00:00:01 UTC,view,1004775,2053013555631882655,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2

In [3]:
new_commerce_df = commerce_df[['event_time', 'event_type', 'user_id', 'user_session']].copy()

In [5]:
kst_list = []
for time in new_commerce_df['event_time']:
    kst_list.append(time[:19])
kst_list

['2019-11-01 00:00:00',
 '2019-11-01 00:00:00',
 '2019-11-01 00:00:01',
 '2019-11-01 00:00:01',
 '2019-11-01 00:00:01',
 '2019-11-01 00:00:01',
 '2019-11-01 00:00:01',
 '2019-11-01 00:00:02',
 '2019-11-01 00:00:02',
 '2019-11-01 00:00:02',
 '2019-11-01 00:00:03',
 '2019-11-01 00:00:03',
 '2019-11-01 00:00:03',
 '2019-11-01 00:00:04',
 '2019-11-01 00:00:05',
 '2019-11-01 00:00:06',
 '2019-11-01 00:00:07',
 '2019-11-01 00:00:07',
 '2019-11-01 00:00:07',
 '2019-11-01 00:00:08',
 '2019-11-01 00:00:08',
 '2019-11-01 00:00:08',
 '2019-11-01 00:00:08',
 '2019-11-01 00:00:08',
 '2019-11-01 00:00:09',
 '2019-11-01 00:00:09',
 '2019-11-01 00:00:09',
 '2019-11-01 00:00:10',
 '2019-11-01 00:00:10',
 '2019-11-01 00:00:11',
 '2019-11-01 00:00:11',
 '2019-11-01 00:00:12',
 '2019-11-01 00:00:12',
 '2019-11-01 00:00:12',
 '2019-11-01 00:00:12',
 '2019-11-01 00:00:12',
 '2019-11-01 00:00:13',
 '2019-11-01 00:00:13',
 '2019-11-01 00:00:13',
 '2019-11-01 00:00:14',
 '2019-11-01 00:00:14',
 '2019-11-01 00:00:14',
 '2019-11-01 00:00:14',
 '2019-11-01 00:00:15',
 '2019-11-01 00:00:15',
 '2019-11-01 00:00:16',
 '2019-11-01 00:00:16',
 '2019-11-01 00:00:16',
 '2019-11-01 00:00:16',
 '2019-11-01 00:00:17',
 '2019-11-01 00:00:17',
 '2019-11-01 00:00:17',
 '2019-11-01 00:00:17',
 '2019-11-01 00:00:18',
 '2019-11-01 00:00:18',
 '2019-11-01 00:00:18',
 '2019-11-01 00:00:18',
 '2019-11-01 00:00:19',
 '2019-11-01 00:00:19',
 '2019-11-01 00:00:19',
 '2019-11-01 00:00:19',
 '2019-11-01 00:00:19',
 '2019-11-01 00:00:20',
 '2019-11-01 00:00:22',
 '2019-11-01 00:00:22',
 '2019-11-01 00:00:23',
 '2019-11-01 00:00:23',
 '2019-11-01 00:00:23',
 '2019-11-01 00:00:23',
 '2019-11-01 00:00:23',
 '2019-11-01 00:00:24',
 '2019-11-01 00:00:24',
 '2019-11-01 00:00:25',
 '2019-11-01 00:00:26',
 '2019-11-01 00:00:26',
 '2019-11-01 00:00:26',
 '2019-11-01 00:00:26',
 '2019-11-01 00:00:27',
 '2019-11-01 00:00:27',
 '2019-11-01 00:00:27',
 '2019-11-01 00:00:27',
 '2019-11-01 00:00:27',
 '2019-11-01 00:00:28',
 '2019-11-01 00:00:28',
 '2019-11-01 00:00:28',
 '2019-11-01 00:00:28',
 '2019-11-01 00:00:29',
 '2019-11-01 00:00:29',
 '2019-11-01 00:00:30',
 '2019-11-01 00:00:30',
 '2019-11-01 00:00:31',
 '2019-11-01 00:00:35',
 '2019-11-01 00:00:35',
 '2019-11-01 00:00:35',
 '2019-11-01 00:00:36',
 '2019-11-01 00:00:36',
 '2019-11-01 00:00:36',
 '2019-11-01 00:00:37',
 '2019-11-01 00:00:38',
 '2019-11-01 00:00:39',
 '2019-11-01 00:00:39',
 '2019-11-01 00:00:40',
 '2019-11-01 00:00:40',
 '2019-11-01 00:00:40',
 '2019-11-01 00:00:41',
 '2019-11-01 00:00:41',
 '2019-11-01 00:00:41',
 '2019-11-01 00:00:41',
 '2019-11-01 00:00:41',
 '2019-11-01 00:00:41',
 '2019-11-01 00:00:41',
 '2019-11-01 00:00:42',
 '2019-11-01 00:00:42',
 '2019-11-01 00:00:42',
 '2019-11-01 00:00:42',
 '2019-11-01 00:00:43',
 '2019-11-01 00:00:44',
 '2019-11-01 00:00:44',
 '2019-11-01 00:00:45',
 '2019-11-01 00:00:45',
 '2019-11-01 00:00:46',
 '2019-11-01 00:00:47',
 '2019-11-01 00:00:48',
 '2019-11-01 00:00:48',
 '2019-11-01 00:00:48',
 '2019-11-01 00:00:48',
 '2019-11-01 00:00:49',
 '2019-11-01 00:00:49',
 '2019-11-01 00:00:49',
 '2019-11-01 00:00:50',
 '2019-11-01 00:00:50',
 '2019-11-01 00:00:50',
 '2019-11-01 00:00:50',
 '2019-11-01 00:00:51',
 '2019-11-01 00:00:51',
 '2019-11-01 00:00:51',
 '2019-11-01 00:00:52',
 '2019-11-01 00:00:53',
 '2019-11-01 00:00:53',
 '2019-11-01 00:00:54',
 '2019-11-01 00:00:55',
 '2019-11-01 00:00:55',
 '2019-11-01 00:00:56',
 '2019-11-01 00:00:56',
 '2019-11-01 00:00:56',
 '2019-11-01 00:00:56',
 '2019-11-01 00:00:58',
 '2019-11-01 00:00:58',
 '2019-11-01 00:00:59',
 '2019-11-01 00:00:59',
 '2019-11-01 00:01:00',
 '2019-11-01 00:01:00',
 '2019-11-01 00:01:01',
 '2019-11-01 00:01:01',
 '2019-11-01 00:01:01',
 '2019-11-01 00:01:02',
 '2019-11-01 00:01:02',
 '2019-11-01 00:01:02',
 '2019-11-01 00:01:02',
 '2019-11-01 00:01:03',
 '2019-11-01 00:01:03',
 '2019-11-01 00:01:03',
 '2019-11-01 00:01:03',
 '2019-11-01 00:01:03',
 '2019-11-01 00:01:03',
 '2019-11-01 00:01:03',
 '2019-11-01 00:01:04',
 '2019-11-01 00:01:04',
 '2019-11-01 00:01:04',
 '2019-11-01 00:01:05',
 '2019-11-01 00:01:06',
 '2019-11-01 00:01:07',
 '2019-11-01 00:01:08',
 '2019-11-01 00:01:09',
 '2019-11-01 00:01:09',
 '2019-11-01 00:01:10',
 '2019-11-01 00:01:10',
 '2019-11-01 00:01:10',
 '2019-11-01 00:01:10',
 '2019-11-01 00:01:11',
 '2019-11-01 00:01:11',
 '2019-11-01 00:01:11',
 '2019-11-01 00:01:11',
 '2019-11-01 00:01:12',
 '2019-11-01 00:01:12',
 '2019-11-01 00:01:12',
 '2019-11-01 00:01:13',
 '2019-11-01 00:01:14',
 '2019-11-01 00:01:16',
 '2019-11-01 00:01:16',
 '2019-11-01 00:01:17',
 '2019-11-01 00:01:17',
 '2019-11-01 00:01:18',
 '2019-11-01 00:01:18',
 '2019-11-01 00:01:20',
 '2019-11-01 00:01:20',
 '2019-11-01 00:01:20',
 '2019-11-01 00:01:21',
 '2019-11-01 00:01:21',
 '2019-11-01 00:01:21',
 '2019-11-01 00:01:22',
 '2019-11-01 00:01:22',
 '2019-11-01 00:01:22',
 '2019-11-01 00:01:22',
 '2019-11-01 00:01:23',
 '2019-11-01 00:01:23',
 '2019-11-01 00:01:23',
 '2019-11-01 00:01:24',
 '2019-11-01 00:01:24',
 '2019-11-01 00:01:24',
 '2019-11-01 00:01:24',
 '2019-11-01 00:01:24',
 '2019-11-01 00:01:24',
 '2019-11-01 00:01:25',
 '2019-11-01 00:01:25',
 '2019-11-01 00:01:26',
 '2019-11-01 00:01:26',
 '2019-11-01 00:01:26',
 '2019-11-01 00:01:26',
 '2019-11-01 00:01:28',
 '2019-11-01 00:01:28',
 '2019-11-01 00:01:29',
 '2019-11-01 00:01:30',
 '2019-11-01 00:01:30',
 '2019-11-01 00:01:31',
 '2019-11-01 00:01:31',
 '2019-11-01 00:01:32',
 '2019-11-01 00:01:32',
 '2019-11-01 00:01:32',
 '2019-11-01 00:01:32',
 '2019-11-01 00:01:32',
 '2019-11-01 00:01:33',
 '2019-11-01 00:01:34',
 '2019-11-01 00:01:34',
 '2019-11-01 00:01:35',
 '2019-11-01 00:01:35',
 '2019-11-01 00:01:35',
 '2019-11-01 00:01:35',
 '2019-11-01 00:01:36',
 '2019-11-01 00:01:37',
 '2019-11-01 00:01:37',
 '2019-11-01 00:01:37',
 '2019-11-01 00:01:39',
 '2019-11-01 00:01:39',
 '2019-11-01 00:01:40',
 '2019-11-01 00:01:40',
 '2019-11-01 00:01:40',
 '2019-11-01 00:01:40',
 '2019-11-01 00:01:41',
 '2019-11-01 00:01:41',
 '2019-11-01 00:01:43',
 '2019-11-01 00:01:43',
 '2019-11-01 00:01:44',
 '2019-11-01 00:01:44',
 '2019-11-01 00:01:44',
 '2019-11-01 00:01:45',
 '2019-11-01 00:01:45',
 '2019-11-01 00:01:46',
 '2019-11-01 00:01:46',
 '2019-11-01 00:01:46',
 '2019-11-01 00:01:46',
 '2019-11-01 00:01:47',
 '2019-11-01 00:01:48',
 '2019-11-01 00:01:48',
 '2019-11-01 00:01:48',
 '2019-11-01 00:01:49',
 '2019-11-01 00:01:49',
 '2019-11-01 00:01:50',
 '2019-11-01 00:01:51',
 '2019-11-01 00:01:52',
 '2019-11-01 00:01:52',
 '2019-11-01 00:01:52',
 '2019-11-01 00:01:52',
 '2019-11-01 00:01:53',
 '2019-11-01 00:01:53',
 '2019-11-01 00:01:54',
 '2019-11-01 00:01:55',
 '2019-11-01 00:01:55',
 '2019-11-01 00:01:56',
 '2019-11-01 00:01:56',
 '2019-11-01 00:01:56',
 '2019-11-01 00:01:57',
 '2019-11-01 00:01:58',
 '2019-11-01 00:01:58',
 '2019-11-01 00:01:59',
 '2019-11-01 00:02:00',
 '2019-11-01 00:02:00',
 '2019-11-01 00:02:01',
 '2019-11-01 00:02:01',
 '2019-11-01 00:02:01',
 '2019-11-01 00:02:02',
 '2019-11-01 00:02:02',
 '2019-11-01 00:02:02',
 '2019-11-01 00:02:03',
 '2019-11-01 00:02:03',
 '2019-11-01 00:02:03',
 '2019-11-01 00:02:04',
 '2019-11-01 00:02:04',
 '2019-11-01 00:02:04',
 '2019-11-01 00:02:04',
 '2019-11-01 00:02:05',
 '2019-11-01 00:02:06',
 '2019-11-01 00:02:06',
 '2019-11-01 00:02:06',
 '2019-11-01 00:02:07',
 '2019-11-01 00:02:07',
 '2019-11-01 00:02:08',
 '2019-11-01 00:02:08',
 '2019-11-01 00:02:09',
 '2019-11-01 00:02:09',
 '2019-11-01 00:02:11',
 '2019-11-01 00:02:11',
 '2019-11-01 00:02:11',
 '2019-11-01 00:02:11',
 '2019-11-01 00:02:12',
 '2019-11-01 00:02:13',
 '2019-11-01 00:02:14',
 '2019-11-01 00:02:14',
 '2019-11-01 00:02:14',
 '2019-11-01 00:02:15',
 '2019-11-01 00:02:15',
 '2019-11-01 00:02:16',
 '2019-11-01 00:02:16',
 '2019-11-01 00:02:16',
 '2019-11-01 00:02:16',
 '2019-11-01 00:02:17',
 '2019-11-01 00:02:17',
 '2019-11-01 00:02:17',
 '2019-11-01 00:02:17',
 '2019-11-01 00:02:17',
 '2019-11-01 00:02:17',
 '2019-11-01 00:02:18',
 '2019-11-01 00:02:18',
 '2019-11-01 00:02:18',
 '2019-11-01 00:02:19',
 '2019-11-01 00:02:19',
 '2019-11-01 00:02:20',
 '2019-11-01 00:02:20',
 '2019-11-01 00:02:20',
 '2019-11-01 00:02:21',
 '2019-11-01 00:02:21',
 '2019-11-01 00:02:21',
 '2019-11-01 00:02:21',
 '2019-11-01 00:02:22',
 '2019-11-01 00:02:22',
 '2019-11-01 00:02:22',
 '2019-11-01 00:02:23',
 '2019-11-01 00:02:23',
 '2019-11-01 00:02:23',
 '2019-11-01 00:02:23',
 '2019-11-01 00:02:23',
 '2019-11-01 00:02:23',
 '2019-11-01 00:02:24',
 '2019-11-01 00:02:24',
 '2019-11-01 00:02:24',
 '2019-11-01 00:02:24',
 '2019-11-01 00:02:24',
 '2019-11-01 00:02:24',
 '2019-11-01 00:02:25',
 '2019-11-01 00:02:25',
 '2019-11-01 00:02:25',
 '2019-11-01 00:02:26',
 '2019-11-01 00:02:26',
 '2019-11-01 00:02:26',
 '2019-11-01 00:02:26',
 '2019-11-01 00:02:27',
 '2019-11-01 00:02:27',
 '2019-11-01 00:02:27',
 '2019-11-01 00:02:27',
 '2019-11-01 00:02:27',
 '2019-11-01 00:02:27',
 '2019-11-01 00:02:29',
 '2019-11-01 00:02:30',
 '2019-11-01 00:02:30',
 '2019-11-01 00:02:32',
 '2019-11-01 00:02:32',
 '2019-11-01 00:02:32',
 '2019-11-01 00:02:33',
 '2019-11-01 00:02:33',
 '2019-11-01 00:02:33',
 '2019-11-01 00:02:35',
 '2019-11-01 00:02:35',
 '2019-11-01 00:02:36',
 '2019-11-01 00:02:36',
 '2019-11-01 00:02:36',
 '2019-11-01 00:02:37',
 '2019-11-01 00:02:37',
 '2019-11-01 00:02:38',
 '2019-11-01 00:02:38',
 '2019-11-01 00:02:38',
 '2019-11-01 00:02:38',
 '2019-11-01 00:02:39',
 '2019-11-01 00:02:39',
 '2019-11-01 00:02:39',
 '2019-11-01 00:02:40',
 '2019-11-01 00:02:41',
 '2019-11-01 00:02:41',
 '2019-11-01 00:02:41',
 '2019-11-01 00:02:41',
 '2019-11-01 00:02:42',
 '2019-11-01 00:02:42',
 '2019-11-01 00:02:43',
 '2019-11-01 00:02:43',
 '2019-11-01 00:02:43',
 '2019-11-01 00:02:43',
 '2019-11-01 00:02:43',
 '2019-11-01 00:02:44',
 '2019-11-01 00:02:44',
 '2019-11-01 00:02:44',
 '2019-11-01 00:02:44',
 '2019-11-01 00:02:46',
 '2019-11-01 00:02:46',
 '2019-11-01 00:02:46',
 '2019-11-01 00:02:47',
 '2019-11-01 00:02:47',
 '2019-11-01 00:02:48',
 '2019-11-01 00:02:48',
 '2019-11-01 00:02:50',
 '2019-11-01 00:02:50',
 '2019-11-01 00:02:50',
 '2019-11-01 00:02:51',
 '2019-11-01 00:02:51',
 '2019-11-01 00:02:51',
 '2019-11-01 00:02:51',
 '2019-11-01 00:02:52',
 '2019-11-01 00:02:52',
 '2019-11-01 00:02:53',
 '2019-11-01 00:02:53',
 '2019-11-01 00:02:53',
 '2019-11-01 00:02:53',
 '2019-11-01 00:02:54',
 '2019-11-01 00:02:54',
 '2019-11-01 00:02:55',
 '2019-11-01 00:02:55',
 '2019-11-01 00:02:56',
 '2019-11-01 00:02:56',
 '2019-11-01 00:02:56',
 '2019-11-01 00:02:56',
 '2019-11-01 00:02:56',
 '2019-11-01 00:02:56',
 '2019-11-01 00:02:57',
 '2019-11-01 00:02:57',
 '2019-11-01 00:02:58',
 '2019-11-01 00:02:59',
 '2019-11-01 00:03:00',
 '2019-11-01 00:03:00',
 '2019-11-01 00:03:01',
 '2019-11-01 00:03:02',
 '2019-11-01 00:03:02',
 '2019-11-01 00:03:03',
 '2019-11-01 00:03:03',
 '2019-11-01 00:03:03',
 '2019-11-01 00:03:04',
 '2019-11-01 00:03:04',
 '2019-11-01 00:03:04',
 '2019-11-01 00:03:05',
 '2019-11-01 00:03:05',
 '2019-11-01 00:03:05',
 '2019-11-01 00:03:06',
 '2019-11-01 00:03:07',
 '2019-11-01 00:03:07',
 '2019-11-01 00:03:07',
 '2019-11-01 00:03:07',
 '2019-11-01 00:03:07',
 '2019-11-01 00:03:07',
 '2019-11-01 00:03:08',
 '2019-11-01 00:03:08',
 '2019-11-01 00:03:09',
 '2019-11-01 00:03:09',
 '2019-11-01 00:03:09',
 '2019-11-01 00:03:09',
 '2019-11-01 00:03:10',
 '2019-11-01 00:03:10',
 '2019-11-01 00:03:11',
 '2019-11-01 00:03:11',
 '2019-11-01 00:03:13',
 '2019-11-01 00:03:14',
 '2019-11-01 00:03:14',
 '2019-11-01 00:03:14',
 '2019-11-01 00:03:15',
 '2019-11-01 00:03:15',
 '2019-11-01 00:03:16',
 '2019-11-01 00:03:16',
 '2019-11-01 00:03:17',
 '2019-11-01 00:03:18',
 '2019-11-01 00:03:18',
 '2019-11-01 00:03:18',
 '2019-11-01 00:03:19',
 '2019-11-01 00:03:19',
 '2019-11-01 00:03:20',
 '2019-11-01 00:03:21',
 '2019-11-01 00:03:21',
 '2019-11-01 00:03:21',
 '2019-11-01 00:03:22',
 '2019-11-01 00:03:22',
 '2019-11-01 00:03:22',
 '2019-11-01 00:03:22',
 '2019-11-01 00:03:22',
 '2019-11-01 00:03:22',
 '2019-11-01 00:03:23',
 '2019-11-01 00:03:23',
 '2019-11-01 00:03:24',
 '2019-11-01 00:03:24',
 '2019-11-01 00:03:24',
 '2019-11-01 00:03:24',
 '2019-11-01 00:03:24',
 '2019-11-01 00:03:25',
 '2019-11-01 00:03:25',
 '2019-11-01 00:03:26',
 '2019-11-01 00:03:26',
 '2019-11-01 00:03:27',
 '2019-11-01 00:03:27',
 '2019-11-01 00:03:27',
 '2019-11-01 00:03:28',
 '2019-11-01 00:03:29',
 '2019-11-01 00:03:29',
 '2019-11-01 00:03:30',
 '2019-11-01 00:03:30',
 '2019-11-01 00:03:31',
 '2019-11-01 00:03:31',
 '2019-11-01 00:03:31',
 '2019-11-01 00:03:32',
 '2019-11-01 00:03:32',
 '2019-11-01 00:03:33',
 '2019-11-01 00:03:33',
 '2019-11-01 00:03:34',
 '2019-11-01 00:03:34',
 '2019-11-01 00:03:36',
 '2019-11-01 00:03:36',
 '2019-11-01 00:03:36',
 '2019-11-01 00:03:37',
 '2019-11-01 00:03:37',
 '2019-11-01 00:03:37',
 '2019-11-01 00:03:37',
 '2019-11-01 00:03:38',
 '2019-11-01 00:03:38',
 '2019-11-01 00:03:38',
 '2019-11-01 00:03:39',
 '2019-11-01 00:03:39',
 '2019-11-01 00:03:39',
 '2019-11-01 00:03:40',
 '2019-11-01 00:03:40',
 '2019-11-01 00:03:40',
 '2019-11-01 00:03:41',
 '2019-11-01 00:03:42',
 '2019-11-01 00:03:44',
 '2019-11-01 00:03:44',
 '2019-11-01 00:03:44',
 '2019-11-01 00:03:45',
 '2019-11-01 00:03:45',
 '2019-11-01 00:03:45',
 '2019-11-01 00:03:46',
 '2019-11-01 00:03:47',
 '2019-11-01 00:03:47',
 '2019-11-01 00:03:47',
 '2019-11-01 00:03:48',
 '2019-11-01 00:03:49',
 '2019-11-01 00:03:49',
 '2019-11-01 00:03:49',
 '2019-11-01 00:03:49',
 '2019-11-01 00:03:50',
 '2019-11-01 00:03:50',
 '2019-11-01 00:03:50',
 '2019-11-01 00:03:50',
 '2019-11-01 00:03:51',
 '2019-11-01 00:03:51',
 '2019-11-01 00:03:51',
 '2019-11-01 00:03:51',
 '2019-11-01 00:03:51',
 '2019-11-01 00:03:52',
 '2019-11-01 00:03:52',
 '2019-11-01 00:03:52',
 '2019-11-01 00:03:53',
 '2019-11-01 00:03:53',
 '2019-11-01 00:03:53',
 '2019-11-01 00:03:54',
 '2019-11-01 00:03:54',
 '2019-11-01 00:03:54',
 '2019-11-01 00:03:54',
 '2019-11-01 00:03:55',
 '2019-11-01 00:03:56',
 '2019-11-01 00:03:56',
 '2019-11-01 00:03:57',
 '2019-11-01 00:03:57',
 '2019-11-01 00:03:57',
 '2019-11-01 00:03:58',
 '2019-11-01 00:03:58',
 '2019-11-01 00:03:59',
 '2019-11-01 00:03:59',
 '2019-11-01 00:04:00',
 '2019-11-01 00:04:00',
 '2019-11-01 00:04:01',
 '2019-11-01 00:04:01',
 '2019-11-01 00:04:01',
 '2019-11-01 00:04:02',
 '2019-11-01 00:04:02',
 '2019-11-01 00:04:02',
 '2019-11-01 00:04:03',
 '2019-11-01 00:04:03',
 '2019-11-01 00:04:04',
 '2019-11-01 00:04:04',
 '2019-11-01 00:04:04',
 '2019-11-01 00:04:05',
 '2019-11-01 00:04:05',
 '2019-11-01 00:04:05',
 '2019-11-01 00:04:06',
 '2019-11-01 00:04:06',
 '2019-11-01 00:04:06',
 '2019-11-01 00:04:06',
 '2019-11-01 00:04:07',
 '2019-11-01 00:04:07',
 '2019-11-01 00:04:08',
 '2019-11-01 00:04:08',
 '2019-11-01 00:04:09',
 '2019-11-01 00:04:09',
 '2019-11-01 00:04:09',
 '2019-11-01 00:04:10',
 '2019-11-01 00:04:10',
 '2019-11-01 00:04:10',
 '2019-11-01 00:04:10',
 '2019-11-01 00:04:10',
 '2019-11-01 00:04:10',
 '2019-11-01 00:04:10',
 '2019-11-01 00:04:11',
 '2019-11-01 00:04:11',
 '2019-11-01 00:04:11',
 '2019-11-01 00:04:12',
 '2019-11-01 00:04:13',
 '2019-11-01 00:04:13',
 '2019-11-01 00:04:14',
 '2019-11-01 00:04:14',
 '2019-11-01 00:04:14',
 '2019-11-01 00:04:14',
 '2019-11-01 00:04:15',
 '2019-11-01 00:04:15',
 '2019-11-01 00:04:15',
 '2019-11-01 00:04:16',
 '2019-11-01 00:04:17',
 '2019-11-01 00:04:18',
 '2019-11-01 00:04:18',
 '2019-11-01 00:04:18',
 '2019-11-01 00:04:18',
 '2019-11-01 00:04:18',
 '2019-11-01 00:04:18',
 '2019-11-01 00:04:18',
 '2019-11-01 00:04:19',
 '2019-11-01 00:04:20',
 '2019-11-01 00:04:21',
 '2019-11-01 00:04:22',
 '2019-11-01 00:04:22',
 '2019-11-01 00:04:23',
 '2019-11-01 00:04:23',
 '2019-11-01 00:04:24',
 '2019-11-01 00:04:25',
 '2019-11-01 00:04:25',
 '2019-11-01 00:04:26',
 '2019-11-01 00:04:27',
 '2019-11-01 00:04:27',
 '2019-11-01 00:04:28',
 '2019-11-01 00:04:28',
 '2019-11-01 00:04:30',
 '2019-11-01 00:04:30',
 '2019-11-01 00:04:30',
 '2019-11-01 00:04:30',
 '2019-11-01 00:04:31',
 '2019-11-01 00:04:31',
 '2019-11-01 00:04:31',
 '2019-11-01 00:04:31',
 '2019-11-01 00:04:31',
 '2019-11-01 00:04:32',
 '2019-11-01 00:04:32',
 '2019-11-01 00:04:33',
 '2019-11-01 00:04:33',
 '2019-11-01 00:04:33',
 '2019-11-01 00:04:33',
 '2019-11-01 00:04:34',
 '2019-11-01 00:04:34',
 '2019-11-01 00:04:34',
 '2019-11-01 00:04:35',
 '2019-11-01 00:04:37',
 '2019-11-01 00:04:37',
 '2019-11-01 00:04:37',
 '2019-11-01 00:04:38',
 '2019-11-01 00:04:40',
 '2019-11-01 00:04:40',
 '2019-11-01 00:04:40',
 '2019-11-01 00:04:41',
 '2019-11-01 00:04:41',
 '2019-11-01 00:04:41',
 '2019-11-01 00:04:42',
 '2019-11-01 00:04:43',
 '2019-11-01 00:04:43',
 '2019-11-01 00:04:43',
 '2019-11-01 00:04:43',
 '2019-11-01 00:04:45',
 '2019-11-01 00:04:45',
 '2019-11-01 00:04:46',
 '2019-11-01 00:04:47',
 '2019-11-01 00:04:47',
 '2019-11-01 00:04:47',
 '2019-11-01 00:04:48',
 '2019-11-01 00:04:48',
 '2019-11-01 00:04:48',
 '2019-11-01 00:04:49',
 '2019-11-01 00:04:49',
 '2019-11-01 00:04:51',
 '2019-11-01 00:04:51',
 '2019-11-01 00:04:51',
 '2019-11-01 00:04:51',
 '2019-11-01 00:04:51',
 '2019-11-01 00:04:51',
 '2019-11-01 00:04:53',
 '2019-11-01 00:04:53',
 '2019-11-01 00:04:53',
 '2019-11-01 00:04:53',
 '2019-11-01 00:04:53',
 '2019-11-01 00:04:54',
 '2019-11-01 00:04:55',
 '2019-11-01 00:04:55',
 '2019-11-01 00:04:55',
 '2019-11-01 00:04:56',
 '2019-11-01 00:04:56',
 '2019-11-01 00:04:57',
 '2019-11-01 00:04:58',
 '2019-11-01 00:04:59',
 '2019-11-01 00:04:59',
 '2019-11-01 00:05:00',
 '2019-11-01 00:05:01',
 '2019-11-01 00:05:01',
 '2019-11-01 00:05:01',
 '2019-11-01 00:05:02',
 '2019-11-01 00:05:05',
 '2019-11-01 00:05:05',
 '2019-11-01 00:05:05',
 '2019-11-01 00:05:06',
 '2019-11-01 00:05:06',
 '2019-11-01 00:05:06',
 '2019-11-01 00:05:06',
 '2019-11-01 00:05:06',
 '2019-11-01 00:05:07',
 '2019-11-01 00:05:07',
 '2019-11-01 00:05:07',
 '2019-11-01 00:05:08',
 '2019-11-01 00:05:08',
 '2019-11-01 00:05:08',
 '2019-11-01 00:05:09',
 '2019-11-01 00:05:09',
 '2019-11-01 00:05:09',
 '2019-11-01 00:05:10',
 '2019-11-01 00:05:10',
 '2019-11-01 00:05:10',
 '2019-11-01 00:05:10',
 '2019-11-01 00:05:11',
 '2019-11-01 00:05:11',
 '2019-11-01 00:05:12',
 '2019-11-01 00:05:12',
 '2019-11-01 00:05:12',
 '2019-11-01 00:05:12',
 '2019-11-01 00:05:12',
 '2019-11-01 00:05:12',
 '2019-11-01 00:05:13',
 '2019-11-01 00:05:13',
 '2019-11-01 00:05:14',
 '2019-11-01 00:05:14',
 '2019-11-01 00:05:15',
 '2019-11-01 00:05:15',
 '2019-11-01 00:05:15',
 '2019-11-01 00:05:16',
 '2019-11-01 00:05:16',
 '2019-11-01 00:05:16',
 '2019-11-01 00:05:17',
 '2019-11-01 00:05:17',
 '2019-11-01 00:05:18',
 '2019-11-01 00:05:18',
 '2019-11-01 00:05:18',
 '2019-11-01 00:05:18',
 '2019-11-01 00:05:20',
 '2019-11-01 00:05:20',
 '2019-11-01 00:05:20',
 '2019-11-01 00:05:21',
 '2019-11-01 00:05:23',
 '2019-11-01 00:05:23',
 '2019-11-01 00:05:23',
 '2019-11-01 00:05:24',
 '2019-11-01 00:05:24',
 '2019-11-01 00:05:24',
 '2019-11-01 00:05:25',
 '2019-11-01 00:05:25',
 '2019-11-01 00:05:25',
 '2019-11-01 00:05:26',
 '2019-11-01 00:05:26',
 '2019-11-01 00:05:26',
 '2019-11-01 00:05:26',
 '2019-11-01 00:05:26',
 '2019-11-01 00:05:27',
 '2019-11-01 00:05:27',
 '2019-11-01 00:05:27',
 '2019-11-01 00:05:28',
 '2019-11-01 00:05:28',
 '2019-11-01 00:05:29',
 '2019-11-01 00:05:30',
 '2019-11-01 00:05:31',
 '2019-11-01 00:05:32',
 '2019-11-01 00:05:32',
 '2019-11-01 00:05:32',
 '2019-11-01 00:05:32',
 '2019-11-01 00:05:32',
 '2019-11-01 00:05:32',
 '2019-11-01 00:05:33',
 '2019-11-01 00:05:34',
 '2019-11-01 00:05:34',
 '2019-11-01 00:05:34',
 '2019-11-01 00:05:35',
 '2019-11-01 00:05:35',
 '2019-11-01 00:05:35',
 '2019-11-01 00:05:35',
 '2019-11-01 00:05:35',
 '2019-11-01 00:05:36',
 '2019-11-01 00:05:37',
 '2019-11-01 00:05:40',
 '2019-11-01 00:05:40',
 '2019-11-01 00:05:40',
 '2019-11-01 00:05:40',
 '2019-11-01 00:05:41',
 '2019-11-01 00:05:42',
 '2019-11-01 00:05:43',
 '2019-11-01 00:05:43',
 '2019-11-01 00:05:44',
 '2019-11-01 00:05:44',
 '2019-11-01 00:05:45',
 '2019-11-01 00:05:45',
 '2019-11-01 00:05:45',
 '2019-11-01 00:05:46',

In [6]:
new_commerce_df['kst_time'] = kst_list
new_commerce_df

,event_time,event_type,user_id,user_session,kst_time
0,2019-11-01 00:00:00 UTC,view,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33,2019-11-01 00:00:00
1,2019-11-01 00:00:00 UTC,view,530496790,8e5f4f83-366c-4f70-860e-ca7417414283,2019-11-01 00:00:00
2,2019-11-01 00:00:01 UTC,view,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387,2019-11-01 00:00:01
3,2019-11-01 00:00:01 UTC,view,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f,2019-11-01 00:00:01
4,2019-11-01 00:00:01 UTC,view,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2,2019-11-01 00:00:01
...,...,...,...,...,...
67501974,2019-11-30 23:59:58 UTC,view,532714000,02b4131c-0112-4231-aafa-ceaa08e77c1b,2019-11-30 23:59:58
67501975,2019-11-30 23:59:58 UTC,view,545223467,734c5eef-0742-4f8b-9d22-48f75b0bc359,2019-11-30 23:59:58
67501976,2019-11-30 23:59:59 UTC,view,557794415,6fecf566-ebb0-4e70-a243-cdc13ce044cb,2019-11-30 23:59:59
67501977,2019-11-30 23:59:59 UTC,view,531607492,368ddc8b-5db9-40fb-b7ff-b6582a1192c0,2019-11-30 23:59:59
67501978,2019-11-30 23:59:59 UTC,view,579969851,90aca71c-ed8a-4670-866a-761ebacb732d,2019-11-30 23:59:59

In [7]:
type(new_commerce_df['kst_time'][0])

str

In [8]:
new_commerce_df['kst_time'] = pd.to_datetime(new_commerce_df['kst_time'])
type(new_commerce_df['kst_time'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [9]:
new_commerce_df['kst_time'] = new_commerce_df['kst_time'] + timedelta(hours=9)
new_commerce_df.head()

,event_time,event_type,user_id,user_session,kst_time
0,2019-11-01 00:00:00 UTC,view,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33,2019-11-01 09:00:00
1,2019-11-01 00:00:00 UTC,view,530496790,8e5f4f83-366c-4f70-860e-ca7417414283,2019-11-01 09:00:00
2,2019-11-01 00:00:01 UTC,view,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387,2019-11-01 09:00:01
3,2019-11-01 00:00:01 UTC,view,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f,2019-11-01 09:00:01
4,2019-11-01 00:00:01 UTC,view,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2,2019-11-01 09:00:01

In [10]:
new_commerce_df.drop(['event_time'], axis = 1, inplace=True)
new_commerce_df

,event_type,user_id,user_session,kst_time
0,view,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33,2019-11-01 09:00:00
1,view,530496790,8e5f4f83-366c-4f70-860e-ca7417414283,2019-11-01 09:00:00
2,view,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387,2019-11-01 09:00:01
3,view,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f,2019-11-01 09:00:01
4,view,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2,2019-11-01 09:00:01
...,...,...,...,...
67501974,view,532714000,02b4131c-0112-4231-aafa-ceaa08e77c1b,2019-12-01 08:59:58
67501975,view,545223467,734c5eef-0742-4f8b-9d22-48f75b0bc359,2019-12-01 08:59:58
67501976,view,557794415,6fecf566-ebb0-4e70-a243-cdc13ce044cb,2019-12-01 08:59:59
67501977,view,531607492,368ddc8b-5db9-40fb-b7ff-b6582a1192c0,2019-12-01 08:59:59
67501978,view,579969851,90aca71c-ed8a-4670-866a-761ebacb732d,2019-12-01 08:59:59

In [12]:
kst_day = []
for time in new_commerce_df['kst_time']:
    kst_day.append(time.day)
len(kst_day)

67501979

In [13]:
new_commerce_df['kst_day'] = kst_day
new_commerce_df.head()

,event_type,user_id,user_session,kst_time,kst_day
0,view,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33,2019-11-01 09:00:00,1
1,view,530496790,8e5f4f83-366c-4f70-860e-ca7417414283,2019-11-01 09:00:00,1
2,view,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387,2019-11-01 09:00:01,1
3,view,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f,2019-11-01 09:00:01,1
4,view,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2,2019-11-01 09:00:01,1

In [16]:
day_df = new_commerce_df[['kst_day','user_session']]
day_df.head()

   kst_day                          user_session
0        1  4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1        1  8e5f4f83-366c-4f70-860e-ca7417414283
2        1  755422e7-9040-477b-9bd2-6a6e8fd97387
3        1  3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4        1  313628f1-68b8-460d-84f6-cec7a8796ef2

In [23]:
result = day_df.drop_duplicates()
grouped = result.groupby(['kst_day']).size()
grouped

kst_day
1      344630
2      331901
3      352564
4      376648
5      388458
6      366809
7      400586
8      431642
9      413024
10     417543
11     461733
12     456401
13     458457
14     513985
15     754236
16     972060
17    1012075
18     576108
19     453525
20     442954
21     450517
22     387856
23     371680
24     364509
25     388027
26     398900
27     385395
28     382392
29     443010
30     404089
dtype: int64

In [24]:
result = grouped.index[grouped== max(grouped)][0]
result

17

### 해당 기간에서 KST 기준, active user 수가 제일 큰 날짜는 11월 17일입니다.

In [20]:
hot_day_df = new_commerce_df[new_commerce_df['kst_day'] == 17].copy()
hot_day_df

,event_type,user_id,user_session,kst_time,kst_day
37197680,view,513204188,20edad9e-c725-4cdf-9519-22b400233351,2019-11-17 00:00:00,17
37197681,view,553857554,2d5f2702-de13-48c6-86bc-e9975125461c,2019-11-17 00:00:00,17
37197682,view,569930493,5efd8289-8268-4138-af9f-fbf49451d55b,2019-11-17 00:00:00,17
37197683,view,522230366,fdddfbe0-bece-46aa-9c57-66efef984d3a,2019-11-17 00:00:00,17
37197684,purchase,518496808,1cd1ae0b-bb9a-4974-be8d-d3af291ad465,2019-11-17 00:00:00,17
...,...,...,...,...,...
43895184,view,518451111,8020aa8d-9a25-47d8-bf28-da4d9b13ef16,2019-11-17 23:59:59,17
43895185,view,514822215,35ca3007-4766-4137-b392-f33221addfeb,2019-11-17 23:59:59,17
43895186,view,513540069,13697709-ceb9-48bc-a6da-624bd9b12186,2019-11-17 23:59:59,17
43895187,purchase,549901620,659e2f4e-a4e1-442f-acb9-0d083628c9f8,2019-11-17 23:59:59,17
43895188,cart,513331182,9602ff9c-79e2-4cd1-8082-6e1e412f3de6,2019-11-17 23:59:59,17

In [21]:
hot_day_df.drop(['kst_day'], axis = 1, inplace=True)
hot_day_df.head()

,event_type,user_id,user_session,kst_time
37197680,view,513204188,20edad9e-c725-4cdf-9519-22b400233351,2019-11-17
37197681,view,553857554,2d5f2702-de13-48c6-86bc-e9975125461c,2019-11-17
37197682,view,569930493,5efd8289-8268-4138-af9f-fbf49451d55b,2019-11-17
37197683,view,522230366,fdddfbe0-bece-46aa-9c57-66efef984d3a,2019-11-17
37197684,purchase,518496808,1cd1ae0b-bb9a-4974-be8d-d3af291ad465,2019-11-17

In [22]:
hot_day_df.to_csv('hot_day.csv', index=False)