## 2. 1의 날짜에서, 가장 긴 세션 10개에 대해 "user_id, session_id, 세션시간"를 구하세요

In [1]:
import pandas as pd

In [2]:
hd_df = pd.read_csv('hot_day.csv')
hd_df.head()

,event_type,user_id,user_session,kst_time
0,view,513204188,20edad9e-c725-4cdf-9519-22b400233351,2019-11-17 00:00:00
1,view,553857554,2d5f2702-de13-48c6-86bc-e9975125461c,2019-11-17 00:00:00
2,view,569930493,5efd8289-8268-4138-af9f-fbf49451d55b,2019-11-17 00:00:00
3,view,522230366,fdddfbe0-bece-46aa-9c57-66efef984d3a,2019-11-17 00:00:00
4,purchase,518496808,1cd1ae0b-bb9a-4974-be8d-d3af291ad465,2019-11-17 00:00:00

In [3]:
type(hd_df['kst_time'][0])

str

In [4]:
hd_df['kst_time'] = pd.to_datetime(hd_df['kst_time'])
type(hd_df['kst_time'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [6]:
max_grouped = hd_df.groupby(['user_session', 'user_id'])['kst_time'].max()
min_grouped = hd_df.groupby(['user_session', 'user_id'])['kst_time'].min()

In [7]:
max_time_df = pd.DataFrame(max_grouped)
max_time_df.columns = ['latest']
max_time_df

                                                            latest
user_session                         user_id
00000616-f016-4c01-b323-438486d9d3ee 518709589 2019-11-17 14:39:59
00002e0a-8b74-4c72-bb5a-99e04fa264da 519594236 2019-11-17 17:23:03
00004c44-9765-4216-aafd-0ede55aad240 532229944 2019-11-17 23:01:16
00005114-2d52-4a59-ac08-ec71bbaf24db 521167816 2019-11-17 22:44:29
00006a96-5e74-427a-97f9-5d9cdf4a2de1 538973878 2019-11-17 22:48:33
...                                                            ...
ffffee94-7d46-454c-b12b-19e6f78fa18b 549712138 2019-11-17 17:15:58
fffff1dc-0841-4b56-9658-d5dcdc8be2d0 513997100 2019-11-17 18:32:17
fffff736-405e-485f-ac84-6a622ef44329 571263795 2019-11-17 14:52:00
fffffbbe-9f76-403b-b17c-e7c68c48ea1c 548169601 2019-11-17 18:48:15
fffffd01-5f95-4916-b2dd-491c603d6c9c 519073108 2019-11-17 23:12:46

[1012075 rows x 1 columns]

In [8]:
min_time_df = pd.DataFrame(min_grouped)
min_time_df.columns = ['start']
min_time_df

                                                             start
user_session                         user_id
00000616-f016-4c01-b323-438486d9d3ee 518709589 2019-11-17 14:35:46
00002e0a-8b74-4c72-bb5a-99e04fa264da 519594236 2019-11-17 17:22:06
00004c44-9765-4216-aafd-0ede55aad240 532229944 2019-11-17 23:00:14
00005114-2d52-4a59-ac08-ec71bbaf24db 521167816 2019-11-17 22:28:30
00006a96-5e74-427a-97f9-5d9cdf4a2de1 538973878 2019-11-17 21:59:41
...                                                            ...
ffffee94-7d46-454c-b12b-19e6f78fa18b 549712138 2019-11-17 17:12:53
fffff1dc-0841-4b56-9658-d5dcdc8be2d0 513997100 2019-11-17 18:32:17
fffff736-405e-485f-ac84-6a622ef44329 571263795 2019-11-17 14:38:10
fffffbbe-9f76-403b-b17c-e7c68c48ea1c 548169601 2019-11-17 18:43:04
fffffd01-5f95-4916-b2dd-491c603d6c9c 519073108 2019-11-17 23:07:11

[1012075 rows x 1 columns]

In [9]:
new_df = pd.concat([max_time_df, min_time_df], axis = 1)
new_df

,,latest,start
user_session,user_id,,
00000616-f016-4c01-b323-438486d9d3ee,518709589,2019-11-17 14:39:59,2019-11-17 14:35:46
00002e0a-8b74-4c72-bb5a-99e04fa264da,519594236,2019-11-17 17:23:03,2019-11-17 17:22:06
00004c44-9765-4216-aafd-0ede55aad240,532229944,2019-11-17 23:01:16,2019-11-17 23:00:14
00005114-2d52-4a59-ac08-ec71bbaf24db,521167816,2019-11-17 22:44:29,2019-11-17 22:28:30
00006a96-5e74-427a-97f9-5d9cdf4a2de1,538973878,2019-11-17 22:48:33,2019-11-17 21:59:41
...,...,...,...
ffffee94-7d46-454c-b12b-19e6f78fa18b,549712138,2019-11-17 17:15:58,2019-11-17 17:12:53
fffff1dc-0841-4b56-9658-d5dcdc8be2d0,513997100,2019-11-17 18:32:17,2019-11-17 18:32:17
fffff736-405e-485f-ac84-6a622ef44329,571263795,2019-11-17 14:52:00,2019-11-17 14:38:10
fffffbbe-9f76-403b-b17c-e7c68c48ea1c,548169601,2019-11-17 18:48:15,2019-11-17 18:43:04
fffffd01-5f95-4916-b2dd-491c603d6c9c,519073108,2019-11-17 23:12:46,2019-11-17 23:07:11

In [10]:
new_df['session_time'] = new_df['latest']-new_df['start']
new_df

,,latest,start,session_time
user_session,user_id,,,
00000616-f016-4c01-b323-438486d9d3ee,518709589,2019-11-17 14:39:59,2019-11-17 14:35:46,00:04:13
00002e0a-8b74-4c72-bb5a-99e04fa264da,519594236,2019-11-17 17:23:03,2019-11-17 17:22:06,00:00:57
00004c44-9765-4216-aafd-0ede55aad240,532229944,2019-11-17 23:01:16,2019-11-17 23:00:14,00:01:02
00005114-2d52-4a59-ac08-ec71bbaf24db,521167816,2019-11-17 22:44:29,2019-11-17 22:28:30,00:15:59
00006a96-5e74-427a-97f9-5d9cdf4a2de1,538973878,2019-11-17 22:48:33,2019-11-17 21:59:41,00:48:52
...,...,...,...,...
ffffee94-7d46-454c-b12b-19e6f78fa18b,549712138,2019-11-17 17:15:58,2019-11-17 17:12:53,00:03:05
fffff1dc-0841-4b56-9658-d5dcdc8be2d0,513997100,2019-11-17 18:32:17,2019-11-17 18:32:17,00:00:00
fffff736-405e-485f-ac84-6a622ef44329,571263795,2019-11-17 14:52:00,2019-11-17 14:38:10,00:13:50
fffffbbe-9f76-403b-b17c-e7c68c48ea1c,548169601,2019-11-17 18:48:15,2019-11-17 18:43:04,00:05:11
fffffd01-5f95-4916-b2dd-491c603d6c9c,519073108,2019-11-17 23:12:46,2019-11-17 23:07:11,00:05:35

In [11]:
new_df.sort_values(by=['session_time'], axis=0, ascending=False, inplace=True)
new_df

,,latest,start,session_time
user_session,user_id,,,
a7c5906e-5dd8-4175-aeca-eb5615844e67,565022209,2019-11-17 22:54:37,2019-11-17 01:08:20,21:46:17
f2d487ec-1a93-47cd-916a-5e46db85472c,568848552,2019-11-17 23:09:19,2019-11-17 01:50:50,21:18:29
c28e0611-7590-49cb-9c19-1d4f6540592a,546179105,2019-11-17 22:30:13,2019-11-17 01:26:06,21:04:07
a7b1bde2-4493-4c4b-9517-8b8a0a9cf494,557268031,2019-11-17 22:42:46,2019-11-17 02:06:13,20:36:33
c5fc6a55-1735-4636-8490-b6dfd060164c,554760857,2019-11-17 22:13:34,2019-11-17 02:01:21,20:12:13
...,...,...,...,...
51352def-f9dc-43f7-91cf-c23d9383b7aa,544820104,2019-11-17 05:03:56,2019-11-17 05:03:56,00:00:00
a8adce34-24af-4224-90fc-b3813cf955df,518614294,2019-11-17 15:37:37,2019-11-17 15:37:37,00:00:00
d40ac5a9-1340-49df-a99f-f9a2bbd314f6,568616224,2019-11-17 21:57:49,2019-11-17 21:57:49,00:00:00
51352a2e-cdd4-4571-95fa-e24973717bbb,513160792,2019-11-17 13:35:21,2019-11-17 13:35:21,00:00:00
827ba285-f4dc-4873-9cd7-420f17d18422,552945214,2019-11-17 01:32:08,2019-11-17 01:32:08,00:00:00

In [15]:
result = new_df.drop(['latest', 'start'], axis = 1)
result = result[:10]
result

                                               session_time
user_session                         user_id
a7c5906e-5dd8-4175-aeca-eb5615844e67 565022209     21:46:17
f2d487ec-1a93-47cd-916a-5e46db85472c 568848552     21:18:29
c28e0611-7590-49cb-9c19-1d4f6540592a 546179105     21:04:07
a7b1bde2-4493-4c4b-9517-8b8a0a9cf494 557268031     20:36:33
c5fc6a55-1735-4636-8490-b6dfd060164c 554760857     20:12:13
8c85d761-88c9-45f6-b844-4e506c58f9b3 543658395     19:56:09
1ffae9b4-50e0-4d76-b354-6df7b8d19445 532969916     19:27:38
cfd07110-7047-4ac5-bb17-a4cbd05a491b 544784642     18:32:19
a7db81e5-7d03-404b-806b-063148c86e1b 561409785     18:15:43
0193ea4b-88eb-40ad-bae9-2b00ecd1481f 524688046     18:12:19